<!DOCTYPE html>
<html>
<head>
	<link href="https://fonts.googleapis.com/css?family=Abel" rel="stylesheet">
	 <script src="bower_components/angular/angular.js"></script>
	 <script src="bower_components/angular-route/angular-route.js"></script>
	 
	 <script src='app/services/services.js'></script>
	 <script src='app/app.js'></script>
	<title>
	MtG Price Card Finder	
	</title>
</head>
<style>
	body {
		background: #FFEBBD;
		font-family: 'Abel', sans-serif;
	}
	.main {text-align:center;}
	.image {

    position: relative;
    float: left;
    width:  100px;
    height: 150px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;}

    .image:hover {
    	width:200px;
    	height:300px;

    }
    .card{
  float: left ;
  width: 20% ;
}
</style>
<body   class='main' ng-app='MtGFinder'>
	<h1> MtG Card Price Finder</h1>

	<div  ng-controller='MtGController'>
		

		<div>Name: <input ng-model='card'></div>
		<button  ng-click='searchCard(card)'>Search</button>
		<div>{{ query }}</div>
		<div ng-repeat='item in result track by $index'>
			<div class ='card'>{{ item.message }} <a ng-href="{{item.url}}">Buy here</a></div>
			<div><img class='image' ng-src='{{item.image}}'></img></div>

		</div>
	</div>

</body>
</html>