<!DOCTYPE html>
<html>
<head>
	 <script src="bower_components/angular/angular.js"></script>
	 <script src="bower_components/angular-route/angular-route.js"></script>
	 
	 <script src='app/services/services.js'></script>
	 <script src='app/app.js'></script>
	<title>
	MtG Price Card Finder	
	</title>
</head>
<style>
	.main {text-align:center}
	.image {
	 float:right;
    position: relative;
    width:  200px;
    height: 300px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;}
</style>
<body  class ='main' ng-app='MtGFinder'>
	<h1 class='main'> MtG Card Price Finder</h1>

	<div  class ='card-container' ng-controller='MtGController'>
		

		<input ng-model='card'>
		<button ng-click='searchCard(card)'>Search</button>
		<div>{{ query }}</div>
		<div ng-repeat='item in result track by $index'>
			<div class ='main'>{{ item.message }}
				<span ><img class='image' ng-src='{{item.image}}'></img></span>

			</div>
		</div>
	</div>

</body>
</html>